@font-face {
  font-family: 'OSPDIN';
  src: url('fonts/OSP-DIN-webfont.eot');
  src: url('fonts/OSP-DIN-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/OSP-DIN-webfont.woff') format('woff'),
  url('fonts/OSP-DIN-webfont.ttf') format('truetype'),
  url('fonts/OSP-DIN-webfont.svg#OSPDIN') format('svg');
  font-weight: normal;
  font-style: normal;
}

.header {
  margin-top: 20px;
}

nav#main-nav {
  float: right;
  margin-bottom: 25px;
}

nav#main-nav > ul {
  list-style: none outside none;
}

.nav-item {
  float: left;
  padding: 10px 0 10px 30px;
}
.nav-item > a {
  font-family: 'OSPDIN', arial, sans-serif;
  color: #000;
  letter-spacing: 0.15em;
  font-size: 1.4em;
  transition: border 0.3s;
}
.nav-item > a:hover {
  color: #000;
  text-decoration: none;
  border-bottom: 4px solid #000;
}

.element {
  float: left;
  overflow: hidden;
  position: relative;
}

.element img {
  width: 100%;
}

.element-1-1 {
  width: 158px;
  height: 158px;
}

.element-1-2 {
  width: 316px;
  height: 158px;
}

.element-2-2 {
  width: 316px;
  height: 316px;
}

@media (min-width: 1200px) {

  .element-1-1 {
    width: 146.25px;
    height: 146.25px;
  }

  .element-1-2 {
    width: 292.5px;
    height: 146.25px;
  }

  .element-2-2 {
    width: 292.5px;
    height: 292.5px;
  }

}

@media (min-width: 768px) and (max-width: 979px) {

  .element-1-1 {
    width: 156.6666px;
    height: 156.6666px;
  }

  .element-1-2 {
    width: 313.3333px;
    height: 156.6666px;
  }

  .element-2-2 {
    width: 313.3333px;
    height: 313.3333px;
  }

}